.imageslogo{
    margin-left: 13rem;
}

@media screen and (max-width:768px) {
    .imageslogo{
        margin-left: 24rem;
        margin-top: 10px;
    }
    .navbar-header{
        height: 100px;
        /* background: linear-gradient(50deg,#5e4f72,#b66981,rgba(255, 255, 0, 0.692)); */
        background-color: white;
    }
    
}
