.btn-top {
    display: none;
}
.Become .btn:hover {
    color: #000;
}

ul.navbar-nav {
    margin-left: 80px;
}

ul.navbar-nav .nav-item a:target {
    color: #f26436;
}
.nav-item{
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}
img.hind-bs {
    width: 23px;
}

/* Add this to your CSS file, e.g., YourStyles.css */

/* Base styles for icons */
.hind-bs {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}

/* Tooltip styles */
.hind-bs::after {
    content: "This feature is under construction";
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Position below the icon */
    left: 50%;
    margin-left: -100px;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.hind-bs::before {
    content: '';
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    transition: opacity 0.3s;
}

/* Show the tooltip on hover */
.hind-bs:hover::after,
.hind-bs:hover::before {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .main-hd {
        width: 100% !important;
        padding: 0;
    }
    .main-hd .navbar-toggler {
        width: auto !important;
    }
    .main-hd .navbar-nav {
        flex-direction: column !important;
        align-items: flex-end;
    }
    .main-hd .navbar-collapse ul {
        margin-top: 15px;
    }
/*.Become{*/
/*    display: none;*/
/*}*/
/*.Signup{*/
/*    display: none;*/
/*}*/
.btn-top {
    display: block;
}
    .ahost {
        margin-top: 20px;
        margin-left: 20px;
    }
}

