/* Jobs.css */
.jobs {
  flex: 1;
  padding: 20px;
  /* width: 100%; */
}

.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.763);
}

.withdraw-btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px 20px;
  cursor: pointer;
}

.jobs-table {
  width: 100%;
  border-collapse: collapse;
}

.jobs-table th, .jobs-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.jobs-table th {
  background-color: #f2f2f2;
}

.service-cell {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  margin-right: 10px;
}

.view-profile {
  color: orange;
  cursor: pointer;
}

.status.completed {
  color: green;
  background-color: #e0f7ea;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .jobs-table th, .jobs-table td {
    padding: 5px;
  }

  .jobs-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

 
  p{
      font-size: 12px;
  }
  .service-cell{
      flex-direction: column;
  }
}



.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

@media(max-width:480px){
  .app{
    flex-direction: column;
  }
}


.no-earnings {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}