.form-group {
  color: white;
}

.form-group input {
  width: 400px;
}

.footer-1 h1 {
  color: white;
  font-weight: bold;
  width: 100%;
  font-size: 50px;
  margin-top: 130px;
}

.footer-1 h3 {
  color: white;
  line-height: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
}

.footer-1 a {
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.footer-2 label {
  color: white;
}

.social-icon {
  display: flex;
  width: 20%;
  padding: 20px;
  margin-Left: 170px
}

.submit {
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  font-size: 20px;
}

.footer-2 {
  width: 34%;
  margin-top: -1rem;
}

label.massage p {
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  .footer-2 {
    width: 34%;
    margin-top: -1rem;
}
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .massage {
    text-align: start;
    width: 100%;

  }

  .footer-1 {
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: -16rem;
  }

  .footer-2 {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-top: 5rem;
  }

  .footer-2 input {
    height: 45px;
    width: 100%;
  }

  .social-icon {
    display: flex;
    width: 20%;
    padding: 20px;
    margin-Left: 65px
  }

  .chekbox {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 10rem;

  }

  .form-check {
    width: 25px;
  }
  .footer-2 {
    width: auto;
    margin-top: -1rem;
  }
  
  
}

.chekbox {
  display: flex;
  gap: 20px;
}

.Appbutton {
  text-align: center;
}

.content {
  margin-top: 100px;
  /* For demonstration purpose */
}

.scrollToTopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  /* background-color:#ff6900; */
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

/* .scrollToTopBtn:hover {
            background-color: #ff6900;
          } */
.Reach {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
}

.form-check-label {
  font-size: 15px;
}
.CountrySelecter {
    padding: 20px 0;
}

@media only screen and (max-width: 576px) {

  label.massage,
  p {
    font-size: 18px;
  }

  .footer-1 h1 {
    font-size: 3.5rem;
  }

}